@model IQueryable<Product>
<!--burada list<> kavramı içinde Product modelinin 
yerini belirttik ama bu doğru kullanım değil -->


<div style=" display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px;">
    <div style="flex: 0 0 25%; max-width: 25%; padding-left: 15px; padding-right: 15px;">
        @await Component.InvokeAsync("CategoriesMenu")
    </div>
    <div style="flex: 0 0 75%; max-width: 75%; padding-left: 15px; padding-right: 15px;">
        <div style="display: flex; flex-wrap: wrap; margin-top: 1rem; margin-bottom: 1rem;">
            @foreach (Product prd in Model)
            {
                <partial name="_ProductCard" model="@prd" />
            }
        </div>
    </div>
</div>

@section Footer{
    <div>
        only for index footer
    </div>
}


@* <div class="row">
        <div class="col-md-3">
                @await Component.InvokeAsync("CategoriesMenu")
        </div>
        <div class="col-md-9">
                <div class="row my-3">
                        @foreach (Product prd in Model)
                        {
                                <partial name="_ProductCard" model="@prd" />
                        }

                </div>
        </div>

</div>


@section Footer{
        <div>
                only for index footer
        </div>
}
 *@


@* <div>
<h3>@prd.ProductName</h3>
<p>@prd.Price</p>
<p>
<a href="/Product/Get/@prd.ProductId">Get Details </a>
</p>
</div>
bu kod blogunda yaptığımız işlemleri artık partial
view ile yaparak daha temiz bir kod yazmış olacağız.
*@