@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>Bilgi ve Destek Hattı </p>
        <i class="fa fa-home text-primary my-3"></i>
        <p>Adres</p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>e-commerce@gmail.com</p>
    </div>
</div>